body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.athlete{
    background-color: red;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: image("rash.png");
}
@media screen and (max-width : 900px){
    .athlete{
        background-image: image("rash.png");
    }
}
@media screen and (max-width:500px){
    .athlete{
        background-image: image("pogeba.png");
    }
}