body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
}
.up{
    flex: 1;
    background-color: #A88759;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white
}
.down{
    flex: 6;
    display: flex;
    flex-direction: column;
}
.one{
    flex: 1;
    background-color: #ffffff;
    border-bottom:1px solid gray ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.two{
    flex: 1;
    background-color: #FFE2E7;
    border-bottom:1px solid gray ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.three{
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 800;
}
.second{
    display: flex;
    flex-direction: column;
}
.red{
    color: #c70101;
    font-size: larger;
    font-weight: 800;
}
.black{
    font-size: larger;
}
.third{
    font-size: xx-large;
    font-weight: 1000;
    display: flex;
    align-items: center;
}
.fourth{
    display: flex;
}
.result{
    border: solid 1px #A88759;
    color: white;
    padding: 10px;
    background-color: #A88759;
    margin-right: 10px;
}
.hilight{
    border: solid 1px black;
    padding: 10px;
}
.hello1{
    display: flex;
    align-items: center;
}
.hello2{
    display: flex;
    align-items: center;
}
img{
    width: 80px;
    height: 80px;
}
.future{
    background-color: #222222;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
